<div class="p-2 bg">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">

    <li ngbNavItem>
      <a ngbNavLink>DashBoard</a>
      <ng-template ngbNavContent>
       <app-graph-dashboard></app-graph-dashboard>
      </ng-template>
    </li>

    <li ngbNavItem>
      <a ngbNavLink><div matBadge="{{totalUsernumb}}" matBadgeColor="warn"    matBadgeOverlap="false" >Users</div></a>
      <ng-template ngbNavContent>
        <app-total-users></app-total-users>
      </ng-template>
    </li> 

    <li ngbNavItem>
      <a ngbNavLink
        ><div matBadge="{{appiledUsers}}" matBadgeColor="warn"    matBadgeOverlap="false" >Appiled Users</div></a
      >
      <ng-template ngbNavContent>
        <app-appiled-users></app-appiled-users>
      </ng-template>
    </li>



    <!-- <li ngbNavItem>
      <a ngbNavLink>Add Job</a>
      <ng-template ngbNavContent>
        <app-add-job></app-add-job>
      </ng-template>
    </li> -->

    <li ngbNavItem>
      <a ngbNavLink><div matBadge="{{shortlistnumb}}" matBadgeColor="warn"    matBadgeOverlap="false" >Short List</div></a>
      <ng-template ngbNavContent>
        <app-short-list></app-short-list>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink
        ><div matBadge="{{rejectlistnumb}}" matBadgeColor="warn"    matBadgeOverlap="false" >Rejections</div></a
      >
      <ng-template ngbNavContent>
        <app-reject-list></app-reject-list>
      </ng-template>
    </li>

    <li ngbNavItem>
      <a ngbNavLink
        ><div
          matBadge="{{ contactListNumb }}"
          matBadgeOverlap="false"
          matBadgeColor="warn"
        >
          Contacted Users
        </div></a
      >
      <ng-template ngbNavContent>
        <app-contact-list></app-contact-list>
      </ng-template>
    </li>

    
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
