<!-- Footer -->
<footer class="text-center 100vw text-lg-start bg-dark text-white">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/login/" class="me-4 text-reset" target="_blank">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" class="me-4 text-reset"  target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://accounts.google.com/v3/signin/identifier?dsh=S838898823%3A1680280287771016&continue=https%3A%2F%2Faccounts.google.com%2F&followup=https%3A%2F%2Faccounts.google.com%2F&ifkv=AQMjQ7SbslQPCA_sWbyOPKYeZthxcFMlsh6IP980JvFa0W-QKrrzM69qUak-TbJ_xA3PSpg7CDVqmw&passive=1209600&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="me-4 text-reset" target="_blank">
          <i class="fa fa-google"></i>
        </a>
        <a href="https://www.linkedin.com/login" class="me-4 text-reset" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://github.com/LogIN-" class="me-4 text-reset" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h3 class="text-uppercase fw-bold mb-4">
              Harish IT Solutions
            </h3>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4">
              Information
            </h3>
            <p>
              <a href="#!" class="text-reset">About Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">more search</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Blog</a>
            </p>
            <p>
              <a href="#!"class="text-reset">testimonials</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Events</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4">
              Helpful Links
            </h3>
            <p>
              <a href="#!" class="text-reset">Services</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Support</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Terms & Conditions</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Privacy Policy</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4">
              CONTACT
            </h3>
            <p><i class="fa fa-home  me-3"></i> Mind Space,Hyderabad,Telangana</p>
            <p>
              <i class="fa fa-envelope me-3"></i>
              harishit.solutions@gmail.com
            </p>
            <p><i class="fa fa-phone me-3"></i> 7995052881</p>
            <p><i class="fa fa-print me-3"></i> 7995052881</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">HarishIT Solutions</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
