<div class="bg2">
  <div class="card " style="height:650px">
    <div class="row container-fluid " >
      
      <div class="col-5"  >
         <div class="container">
           <img src="/assets/images/reg.png" alt="" width="100%" height="500px">
         </div>
      </div>
        <div class="col-7 pt-2 ">
          <div class="row mb-1">
            <h2 class="text-center ">Register Now </h2>
          </div>
          <div class="row">
      
            <form [formGroup]="registerForm" (ngSubmit)="registerHere()"  >
         
              <div class="row " >
              

                <div class="col p-1">

                  <div class="mb-1" >
               
                    <input (keypress)="onlyAlphabetsAllowed($event)" type="text" class="form-control" id="exampleFormControlInput1" formControlName="firstName" placeholder="Enter First Name">
                    
                     <div class="text-danger fs-6 p=0 m-0"  *ngIf="f.firstName.invalid && f.firstName.touched ">First Name is required</div>
                    
                   
                  </div>
                 
                </div>

                <div class="col p-1">

                  <div class="mb-1" >
               
                    <input (keypress)="onlyAlphabetsAllowed($event)" type="text" class="form-control" id="exampleFormControlInput1" formControlName="lastName" placeholder="Enter Last Name">
                     <div class="text-danger fs-6 p=0 m-0"  *ngIf="f.lastName.invalid && f.lastName.touched ">Last Name is required</div>
                   
                    
                  </div>
                </div>
             </div>
               
               
            
              <div class="row">
                <div class="col p-1">
                  <div class="mb-1">
                    <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="Enter Email">
                   
                    <div *ngIf="f.email.touched && f.email.invalid" class="text-danger fs-6 p=0 m-0">
                      <div *ngIf="f.email.errors?.required">* Email is required</div>
                      <div *ngIf="f.email.errors?.email">Please Enter a Valid Email Address</div>
                    </div>
                     <!-- <div class="text-danger fs-6 p=0 m-0" *ngIf="f.email.errors.email">Email must be a valid email address</div> -->
                  </div>
                </div>
                <div class="col m-0 p-1">
                  <div class="mb-1 m-0">
                    <input type="password" class="form-control" id="exampleFormControlInput1" formControlName="password" placeholder="Enter Password">
                    <div class="text-danger fs-6 p=0 m-0" *ngIf="f.password.invalid && f.password.touched "></div>
                      <!-- <div class="text-danger fs-6 p=0 m-0" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div> -->
                      <div *ngIf="f.password.touched && f.password.invalid" class="text-danger fs-6 p=0 m-0">
                        <div *ngIf="f.password.errors?.required">Password is required</div>
                        <div *ngIf="f.password.errors?.minlength">  
                           Password must contain at least one number, one uppercase and a
                          lowercase letter and at least 8 characters<br />Password cannot
                          contain whitespace</div>
                      </div> 
                    
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col p-1">
                  <div class="mb-1">
                    <input type="password" class="form-control" id="exampleFormControlInput1" formControlName="confirmpassword" placeholder="Enter Confirm Password">
                   
          
                    <div *ngIf="f.confirmpassword.touched && f.confirmpassword.invalid" class="text-danger fs-6 p=0 m-0">
                      <div *ngIf="f.confirmpassword.errors?.required">confirm Password is required</div>
                      <div *ngIf="f.confirmpassword.errors?.minlength">Password must be atleast 6 characters</div>
                    </div>
                  </div>
                </div>
                <div class="col m-0 p-1">
                  <div class="mb-1 m-0">
                    <input type="text" (keypress)="onlyNumberAllowed($event)" class="form-control" id="exampleFormControlInput1" formControlName="phone" placeholder="Enter Mobile">
                    <div *ngIf="f.phone.touched && f.phone.invalid" class="text-danger fs-6 p=0 m-0">
                      <div *ngIf="f.phone.errors?.required">Please enter mobile number</div>
                      <div *ngIf="f.phone.errors?.pattern">Please Enter 10 digit Mobile Number</div>
                    </div> 
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col p-1">
                  <div class="mb-1">
                    <input type="text" (keypress)="onlyNumberAllowed($event)" class="form-control" id="exampleFormControlInput1" formControlName="alternativePhone" placeholder="Alternative Mobile">
                    <div *ngIf="f.alternativePhone.touched && f.alternativePhone.invalid" class="text-danger fs-6 p=0 m-0">
                      <div *ngIf="f.alternativePhone.errors?.required">Please Enter Alternative Mobile number</div>
                      <div *ngIf="f.alternativePhone.errors?.pattern">Please Enter 10 digit Mobile Number</div>
                    </div> 
                  </div>
                </div>
                <div class="col m-0 p-1">
                  <div class="mb-1 m-0">
                    <input  (keypress)="onlyNumberAllowed($event)" type="text" class="form-control" id="exampleFormControlInput1" formControlName="adhaarNo" placeholder="Enter Adhaar Number">
                    
                    <div *ngIf="f.adhaarNo.touched && f.adhaarNo.invalid" class="text-danger fs-6 p=0 m-0">
                      <div *ngIf="f.adhaarNo.errors?.required">Adhaar Number is required</div>
                      <div *ngIf="f.adhaarNo.errors?.maxlength">Adhaar Number Must be 12 digits</div>
                      <div *ngIf="f.adhaarNo.errors?.minlength">Adhaar Number Must be 12 digits</div>
                    </div> 
                  </div>
                </div>
                
              </div>

           
              <div class="row">
                <div class="col p-1">
                  <div class="mb-1">
                    <input (keypress)="onlyNumberAllowed($event)" type="text" class="form-control" id="exampleFormControlInput1" formControlName="age" placeholder="Enter Age">
                   
                    <div *ngIf="f.age.touched && f.age.invalid" class="text-danger fs-6 p=0 m-0">
                      <div *ngIf="f.age.errors?.required">Age is Required</div>
                      <div *ngIf="f.age.errors?.maxlength">Please Enter a valid Age</div>
                    </div> 
                  </div>
                </div>
                <div class="col m-0 p-1">
                  <div class="mb-1 m-0">
                    <select class="form-select" aria-label="Default select example" formControlName="gender" >
                      <option value="0">Select Gender</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                    <div class="text-danger fs-6 p=0 m-0" *ngIf="f.gender.invalid && f.gender.touched ">Gender is required</div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col m-0 p-1">
                <div class="mb-1 m-0">
                  <select class="form-select" aria-label="Default select example" formControlName="qualification" (change)="selectdegree($event.target)">
                    <option value="0">Select Qualification</option>
                    <option value="Degree">Degree</option>
                    <option value="B.Tech">B.Tech</option>
                  
                  </select>
                  <div class="text-danger fs-6 p=0 m-0" *ngIf="f.qualification.invalid && f.qualification.touched "> Qualification is required</div>
                </div>
              </div>
              </div>
              <div class="row" *ngIf="!degreeFlag">
                <div class="col m-0 p-1">
                <div class="mb-1 m-0">
                  <select class="form-select" formControlName="branch" aria-label="Default select example" (change)="selectBranch($event.target,'btech')">
                    <option value="0">Select Branch</option>
                    <option value="CSE">CSE</option>
                    <option value="ECE">ECE</option>
                    <option value="MECH">MECH</option>
                    <option value="EEE">EEE</option>
                    <option value="CIVIL">CIVIL</option>
                    <option value="AGRI">AGRI</option>
                   
                  </select>
                  <div class="text-danger fs-6 p=0 m-0" *ngIf="f.branch.invalid && f.branch.touched ">Branch is required</div>
                </div>
              </div>
              </div>

              <div class="row" *ngIf="degreeFlag">
                <div class="col m-0 p-1">
                <div class="mb-1 m-0">
                  <select class="form-select" formControlName="branch" aria-label="Default select example" (change)="selectBranch($event.target,'degree')">
                    <option value="0">Select Branch</option>
                    <option value="B.A.">B.A. (Bachelor of Arts)</option>
                    <option value="B.Com.">B.Com. (Bachelor of Commerce)</option>
                    <option value="B.Sc.">B.Sc. (Bachelor of Science)</option>
                  </select>
                  <div class="text-danger fs-6 p=0 m-0" *ngIf="f.branch.invalid && f.branch.touched ">Branch is required</div>
                </div>
                
              </div>
              </div>
              
              
            
              <div class="row">
                <div class="col m-0 p-1">
                <div class="mb-1 m-0">
                  <select class="form-select" formControlName="passedOutYear" aria-label="Default select example">
                     <option value="0">Select Passed Out Year</option> 
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                
                  </select>
                   <div class="text-danger fs-6 p=0 m-0" *ngIf="f.passedOutYear.invalid && f.passedOutYear.touched ">This Field  is required</div>
                </div>
              </div>
              </div>

              <div class="row">
                <div class="col m-0 p-1">
                  <textarea class="form-control" formControlName="perminentAdd" placeholder="Enter Perminent Address" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <div class="text-danger fs-6 p=0 m-0" *ngIf="f.perminentAdd.invalid && f.perminentAdd.touched ">Address is required</div>
                </div>
               
                
              </div>

              <div class="row">
                <div class="col m-0 p-1">
                  <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-sm p-2" style="width:100%;font-weight: bold;">Submit</button>
                </div>  
              </div>
          


             
            </form>
          </div>
        </div>
       </div>
    </div>
    
</div>


