<div class="row contactUs">
       <div class="col-12" style="padding-top:50px!important;padding:200px;align-items: center;">
        
        <div class="main text-center" style="color: rgb(234, 234, 235); font-size: larger; margin: top-10px;">
          <h1>Get in Touch</h1>
          <p>Want to get touch? We'd love to bear from you. here's how you can reach us.....</p>
        </div>
          <span class="container" style="height:450px; ">
              <div class="row" style="height: 400px; width:800px; "> 
                      <div class="col-6">
                           <div class="card" style="width: 24rem;">
                               <div class="card-body text-center">
                                 <i class="bi bi-telephone-fill"></i>
                                 <h6>Talk to Sales</h6>
                                 <p>Interested in Hareesh IT solutions? Just click up the Phone to chat/call with a memeber of our sales team.</p>
                                <div class="contact">+91 73380 73210 <br> View all global members</div>
                              </div>
                             </div>
                         </div>
                     <div class="col-6">
                          <div class="card" style="width: 24rem;">
                                  <div class="card-body text-center">
                                    <i class="bi bi-wechat"></i>
                                    <h6>Contact Customer Support</h6>
                                    <p>Some times you need a little help from your friends to know aout the Hareesh IT support rep. Don't worry..... We're here for you.</p>
                                    <div class="button">
                                          <button class="btn btn-danger">Contact Support</button>
                                    </div>
                                  </div>
                          </div>
                    </div>
               </div>
            </span>
       </div>
 </div>   