.contactUs{
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(95, 40, 139), rgb(76, 46, 156));
width:100vw;
height:45vh;
line-height: 2;
margin-bottom: 265px;
background-image: url(/assets/images/cus.jpg);
}
.card{
    width: 350px;
    height: 350px; 
}
.card-body{
    width: 400px;
    height: 400px;
}
    
.contact{
    color: rgb(13, 77, 253);
    line-height: 4; 
    
}
.button{
    line-height: 8;
}

.container{
    float:left;
    width: auto;
    margin-left: 15%;
    margin-right: 30%;
    align-items: center;
}
.bi{
    font-size: 2.0em;
}
input{
    width:345px!important;
}
textarea{
    width:345px!important;
}
button{
    width:345px!important;
}