<div class="bg">
 <div class="container" style="padding-top:30px;padding-left: 20px;">
    <h1 class="h1">About Us</h1>
    <p>HarishITSolutions was founded in [Year], and we have accomplished so much over the years. To create a world where [the solution your business solves] has always been our goal.</p>
    <p>Our goal is to provide our customers with the best Product at the best possible market price without compromising quality.</p>
    <p>Fortunately, we have done the leg work for you. We combed through the data to pick out the very best, most profitable product idea and compiled them right here.</p>
    <p>In this post, you will find a ton of product ideas for every niche and bussiness model. Wheter you are running a dropshipping bussiness, print-on-demand store, private label store, or any other type of ecommerce business, you're sure to find new ideas here. </p>

   </div>
</div>

 <h1 class="text-dark text-center pt-1">Founders</h1>

 <div class="bg-light p-1" >
<div class="row  p-1" >
 <div class="col p-1">
   <img src="/assets/images/Infosys.jpg" >
   <p>Narayana Murthy The Founder of Infosysy</p>
</div>
     
<div class="col p-1">
   <img src="/assets/images/Microsoft.jpg" style="height: 272px;">
   <p>Bill Gates The founder of Microsoft</p>
</div>
  
   <div class="col p-1">
      <img src="/assets/images/tcs founder.avif" style="height:272px;" >
      <p>Faquir chand Kohli The founder of TCS</p>
   </div>

</div>
<div class="row" >
   <h1>The Story </h1>
   <div class="col-3">
      <img src="/assets/images/bnb-2.jpg" class="image">
      <h3  class="text-dark">The Teamates</h3>
      <p>Teamates are always supporting us with a bueatiful heart.</p>
   </div>
   <div class="col-3">
      <img src="/assets/images/bnb-1.webp" class="image">
      <h3 class="text-dark"> The Seminar</h3>
      <p>It is stands us away from the stage fear and give a talkctiveness.</p>
   </div>
   <div class="col-3">
      <img src="/assets/images/bnb-3.jpg" class="image">
      <h3 class="text-dark">Mobile Phone</h3>
      <p>we can do everything with this one and we feel like as a world in our hand.</p>
   </div>
   <div class="col-3">
      <img src="/assets/images/bnb-4.jpg" class="image">
      <h3 class="text-dark">Group Discussion</h3>
      <p>we can talk somthing about the project and give a kwonledge on the project to our team.</p>
   </div>                             
</div>

</div>



