<div class="container ">
<div class="row ">
    <div class="col pl-1">
    <img class="img" src="/assets/images/profile.jpg" width="300px" height="270px"><hr>
    <table>
        <tr class="name">
            <th class="name"><h2>Jeremy Rose</h2></th>
            <div>
            
          
            </div>
        </tr>
    </table>

    <small class="text-primary"><b>Product Designer</b></small>
    <br><br>
    <h5>Ratings</h5>
    <p class="pl-1">8.6
        <i class="fa fa-star p-1 checked text-primary" ></i>
        <i class="fa fa-star p-1 checked text-primary"></i>
        <i class="fa fa-star p-1 checked text-primary"></i>
        <i class="fa fa-star p-1 checked text-primary"></i>
        <i class="fa fa-star p-1 unchecked"></i>
    </p>
    <div class="msg">
        <span class="bi bi-envelope "><b>Send message</b></span>
        <button class="btn text-primary bi bi-check " type="button">Contacts</button>
    </div><br>

    </div>

    <div class="col pl-1" >
      <div class="info text-white bg-dark ">
            <h5 class="text p-1">Personal Information</h5>
        </div>
        <div class="details">
        <table class="table">
            <tr>
                <th class="qualification">Qualification</th>
                <td>:  B.tech</td>
            </tr>
            <tr>
                <th class="mobilenumber">Mobile Number</th>
                <td>:  2139122222</td>
            </tr>
            <tr>
                <th class="gender">Gender</th>
                <td>: Male</td>
            </tr>
            <tr>
                <th class="age">Age</th>
                <td>:  27</td>
            </tr>

        </table>
        </div>

        <div class="info bg-dark text-white ">
            <h5 class="text p-1">Contact Information</h5>
        </div>
        <table class="table">
            <tr >
                <th class="phn">Phone</th>
                <td class="text-primary ">: +11223344455</td>
            </tr>
            <tr>
                <th class="address">Address</th>
                <td>: 525,E64 Street ,New York,USA</td>
            </tr>
            <tr>
                <th class="email">Email</th>
                <td class="text-primary">: harishit@gmail.com</td>
            </tr>
            <tr>
                <th class="site">Site</th>
                <td class="text-primary">: www.harishit.com</td>
            </tr>
        </table>
        <div class="job">
            <h5 class="text text-white bg-dark p-1">Aplied Jobs</h5>
        </div>
        <table class="table">
            <tr>
                <th class="jobs" style="width: 120px;">Number of Jobs</th>
                <td>: 20</td>
            </tr>
        </table>
    </div>

</div>
</div>