.row1{
    padding-top: 40px;
} 
.specify h1,h5{
        font-size: 15px;
        font-weight: bold;
        padding:1px;  
}
.bg-light1{
    background: linear-gradient(to right, rgba(7, 62, 158, 0.5), rgba(46, 26, 135, 0.5));
    color:white; 
    border-radius: 10px;

}
/* .row1{
    padding-top: 20px;
    padding-bottom: 13px;
} */
.bi{
    padding-right: 30px;
}
.bi-envelope::before {
    content: "\f32f";
    padding-right: 15px;
}
/* .time{
    padding-right: 90px;
} */
.btn1{
    background-color: rgb(169, 180, 245);
    border: none;
    opacity: 2.5;
    padding-left: 20px;
}
/* .bi-eye::before {
    content: "\f341";
    padding-right: 7px;
}
.bi-person::before {
    content: "\f4e1";
    padding-right: 10px;
} */

.text {
    font-size: 13px;
    font-style: inherit;
    opacity: 2;
    word-spacing: 0.9px;
    letter-spacing: 0.7px;
}
/* .jobs{
    padding-right: 100px;
} */
.details{
    width: 320px;
}
.first-head1{
    font-size: 20px;
}
.first-head2{
    font-size: 28px;
    font-weight: 370;
}


