<div class="applyUs">
    <div class="container" style="padding-top: 80px;padding-left: 40px;">
        <h1 class="h1">APPLY JOB</h1>
        <p>HarishITSolutions was founded in [Year], and we have accomplished so much over the years. To create a world where [ the solution your business solves] has always been our goal.</p>
        <p>Our goal is to provide our customers with the best Product at the best possible market price without compromising quality.</p>
     </div>
     
   
</div>
<div class="card mt-1" style="width: 100%;">
    <div class="card-header m-0 p-0 bg-light">
        <h1 class="m-0 p-1" style="font-weight: 350;">Postions In Our Company</h1>
 </div>
 <div class="container" style="padding: 20px;">
    <div class="row" style="display:flex;flex-wrap: wrap;">
    <mat-card class="example-card mr-1">
        <mat-card-header>
          <mat-card-subtitle>Apply For</mat-card-subtitle>
          <mat-card-title>Angular Developer</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img src="/assets/images/ang.png" alt="" width="100%" height="250px">
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="open(content)">View Full Details</button>
         
        </mat-card-actions>
        <mat-card-footer>
     
        </mat-card-footer>
      </mat-card>

      <mat-card class="example-card mr-1">
        <mat-card-header>
          <mat-card-subtitle>Apply For</mat-card-subtitle>
          <mat-card-title>Java Developer</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img src="/assets/images/java.png" alt="" width="100%" height="250px">
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="open1(content2)">View Full Details</button>
         
        </mat-card-actions>
        <mat-card-footer>
     
        </mat-card-footer>
      </mat-card>
    </div>
</div>
</div>


<ng-template #content let-modal>
	<div class="modal-header" style="display: flex;">
		<h1 class="modal-title" id="modal-basic-title">Angular Developer (Freshers)</h1>
		<button type="button" class="btn-close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body modal-lg m-0 p-1" style="height: 450px!important;">
   <div  class=" bg-dark text-white p-2    text-capitalize m-0" style="height:40px;width:100%;font-weight: bold;">
    Angular Developer Responsibilities and Job Roles
   
   </div>
   <div  class=" bg-light p-1 mt-1  mb-1  text-capitalize text-justify m-0" style="height:40px;width:100%;">
    A developer is responsible for several Angular-related duties throughout the software development lifecycle, from concept and design to testing. The developer is required to create user information solutions through the development, implementation, and maintenance of Angular-based components and interfaces.
    </div>
   <ul>
    <li *ngFor="let data of  applyContentList">{{data}}</li>
  </ul>

  <div  class=" bg-dark text-white p-2    text-capitalize m-0" style="height:40px;width:100%;font-weight: bold;">
    Overview of the Angular Developer Job Role
    </div>
    <div  class=" bg-light p-1 mt-1    text-capitalize text-justify m-0" style="width:100%;">
      As Angular developers, they will have an important role in developing and maintaining web applications.

      The Angular developer will be responsible for ensuring that these applications are performant, secure, and easy to use.
      
      In addition, they require to contribute to the development of new features and functionality.
      
      Below are the key roles that must be performed by your AngularJS developer
      </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="applyJob('angular')" >Apply Now</button>
	</div>
</ng-template>



<ng-template #content2 let-modal>
	<div class="modal-header" style="display: flex;">
		<h1 class="modal-title" id="modal-basic-title">Java Developer (Freshers)</h1>
		<button type="button" class="btn-close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body modal-lg m-0 p-1" style="height: 500px!important;">
   <div  class=" bg-dark text-white p-2    text-capitalize m-0" style="height:40px;width:100%;font-weight: bold;">
    Java Developer Responsibilities and Job Roles
   
   </div>
   <div  class=" bg-light p-1 mt-1  mb-2  text-capitalize text-justify m-0" style="height:60px;width:100%;">
    A developer is responsible for several Java-related duties throughout the software development lifecycle, from concept and design to testing. The developer is required to create user information solutions through the development, implementation, and maintenance of Java-based components and interfaces.
   <br> Java developer roles will vary greatly depending on companies and job positions. Here are some typical roles and responsibilities of java developers:
    </div>
   <ul>
    <li *ngFor="let data of  applyJavaContentList">{{data}}</li>
  </ul>

  <div  class=" bg-dark text-white p-2    text-capitalize m-0" style="height:40px;width:100%;font-weight: bold;">
    Overview of the Java Developer Job Role
    </div>
    <div  class=" bg-light p-1 mt-1    text-capitalize text-justify m-0" style="height:100px;width:100%;">
      Java Developers need an extensive range of skills, from in-depth knowledge of the basics to a thorough understanding of the current developments. Experts in Java are also expected to know how the development process works and how to transition between the environments where the code runs. 
    </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="applyJob('java')" >Apply Now</button>
	</div>
</ng-template>



