<div class="applyUs">

    <div class="row contactUs">
        <div class="col-12" style="padding-top:50px!important;padding:200px;align-items: center;">
            <div class="card" style="width: 100%;">
                <div class="card-body" style="height: 400px;">
                    <div class="card-header m-0 p-0">
                       <h1 class="m-0 p-1" style="font-weight: 500;">APPLY JOB HERE</h1>
                      </div>
                      <div class="container" style="padding: 20px;">
                        
                      </div>
              </div>
        </div>
    </div>
</div>
